* {
 box-sizing: border-box;
}

body {
 margin: 0;
}

.Navbar {
 background-color: crimson;
 display: flex;
 height: 70px;
 padding: 20px 36px;
}

.nav--logo {
 max-width: 100px;
}

.item {
 display: flex;
 gap: 20px;
}

.img {
 height: 300px;
 width: 250px;
 margin: 10px 10px 10px 10px;
 border-radius: 10px;
}